{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-bottom: 1rem;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link" href="{% url 'labeling:label_list' %}">Labeling</a></li>
                <li class="breadcrumb-item active"><a aria-current="page">Data</a></li>
            </ol>
        </nav>
        {#        상위 10개 미리보기#}
        <div class="justify-content-center" style="display: inline">
            <a href="{% url 'labeling:label_detail' the_prev %}"><i class="bi bi-chevron-left"></i></a>
            {% for pre_image in pre_images %}
                {% if pre_image == object %}
                    <a class="col-1 btn p-0 pre-item selected-item"
                       href="{% url 'labeling:label_detail' pre_image.id %}">
                        <img src="{{ pre_image.image.image.image }}" class="card-img-top pre-img-size" alt="...">
                    </a>
                {% else %}
                    <a class="col-1 btn p-0 pre-item"
                       href="{% url 'labeling:label_detail' pre_image.id %}">
                        <img src="{{ pre_image.image.image.image }}" class="card-img-top pre-img-size" alt="...">
                    </a>
                {% endif %}
            {% endfor %}
            <a href="{% url 'labeling:label_detail' the_next %}"
               style="float: right; margin: 1.5rem 2.5rem 0 0;"><i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="row" style="margin-top: 3rem;">
            <div class="col-6 card" style="height: fit-content;">
                <img src="{{ object.image.image.image }}" class="card-img-top" alt="">
            </div>
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-label-tab" data-toggle="tab" href="#nav-label" role="tab"
                           aria-controls="nav-label" aria-selected="true">라벨링</a>
                        <a class="nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
                           aria-controls="nav-info" aria-selected="false">상세 정보</a>
                    </div>
                </nav>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-label" role="tabpanel"
                             aria-labelledby="nav-label-tab">
                            <div class="form-group col-md-12">
                                <label for="top-category"
                                       style="font-weight: bold; font-size: 17px; margin-top: 1rem;">카테고리</label>
                                <select class="form-control" id="top-category" name="top-category">
                                    {% for obj in topcategory %}
                                        <option value="{{ obj.id }}">{{ obj.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-group col-md-6">
                                    <label for="item"
                                           style="font-size: 16px;">아이템</label>
                                    <select class="form-control" id="item" name="item">
                                        {% for obj in item %}
                                            <option value="{{ obj.id }}">{{ obj.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="heel-height" style="font-size: 16px;">굽 높이</label>
                                    <select class="form-control" id="heel-height" name="heel-height">
                                        {% for obj in heel_height %}
                                            <option value="{{ obj.id }}">{{ obj.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="col-12 mb-2" style="margin-left: -5px">
                                <strong style="font-size: 17px; margin-top: 1rem;">복수 선택 가능</strong>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-group col-md-6">
                                    <label for="sole"
                                           style="font-size: 16px;">밑창 모양</label><br>
                                    <div>
                                        <select class="choices-multiple-remove-button" name="sole" id="sole"
                                                placeholder="Select upto 5 tags" multiple>
                                            {% for obj in sole %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="material"
                                           style="font-size: 16px;">소재감</label><br>
                                    <div>
                                        <select class="choices-multiple-remove-button" name="material" id="material"
                                                placeholder="Select upto 5 tags" multiple>
                                            {% for obj in material %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-group col-md-6">
                                    <label for="printing"
                                           style="font-size: 16px;">프린트</label><br>
                                    <div>
                                        <select class="choices-multiple-remove-button" name="printing" id="printing"
                                                placeholder="Select upto 5 tags" multiple>
                                            {% for obj in printing %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="detail"
                                           style="font-size: 16px;">디테일</label><br>
                                    <div>
                                        <select class="choices-multiple-remove-button" name="detail" id="detail"
                                                placeholder="Select upto 5 tags" multiple>
                                            {% for obj in detail %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-group col-md-6">
                                    <label for="color"
                                           style="font-size: 16px;">색상</label><br>
                                    <div>
                                        <select class="choices-multiple-remove-button" name="color" id="color"
                                                placeholder="Select upto 5 tags" multiple>
                                            {% for obj in color %}
                                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end" style="margin-right: 1.5rem;">
                                <button type="submit" class="btn btn-outline-primary" style="width: 7rem;">라벨링 저장</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                            <div class="col-12" style="margin-top: 1.5rem;">
                                <h4><b>데이터 분류 완료일</b></h4>
                                <p>{{ object.date_inspected|date:'Y년 m월 d일 H:i' }}</p>
                            </div>
                            <hr>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let multipleCancelButton = new Choices('.choices-multiple-remove-button', {
                shouldSort: false,  {# 자동 정렬 취소 #}
                removeItemButton: true,  {# 선택된 아이템 취소버튼 생성 #}
                maxItemCount: 5,  {# 최대 선택 개수 제한 #}
                {#searchResultLimit: 5,#}
                {#renderChoiceLimit: 5#}
            });
        });
    </script>
{% endblock %}