{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-bottom: 1rem;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link" href="{% url 'labeling:label_list' %}">Labeling</a></li>
                <li class="breadcrumb-item active"><a aria-current="page">Data</a></li>
            </ol>
        </nav>
        {#        상위 10개 미리보기#}
        <div class="justify-content-center" style="display: inline">
            <a href="#"><i class="bi bi-chevron-left"></i></a>
            <a class="col-1 btn p-0 pre-item selected-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img-top pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a class="col-1 btn p-0 pre-item" href="#">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img pre-img-size" alt="...">
            </a>
            <a href="#" style="float: right; margin: 1.5rem 2.5rem 0 0;"><i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="row" style="margin-top: 3rem;">
            <div class="col-6 card" style="height: fit-content;">
                <img src="{% static 'images/MainPhoto.png' %}" class="card-img-top" alt="">
            </div>
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-label-tab" data-toggle="tab" href="#nav-label" role="tab"
                           aria-controls="nav-label" aria-selected="true">라벨링</a>
                        <a class="nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
                           aria-controls="nav-info" aria-selected="false">상세 정보</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-label" role="tabpanel"
                         aria-labelledby="nav-label-tab">
                        <div class="form-group col-md-12">
                            <label for="inputCategory"
                                   style="font-weight: bold; font-size: 17px; margin-top: 1rem;">카테고리</label>
                            <select id="inputCategory" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">앞코 모양</label>
                                <select id="inputToe" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">앞코 모양</label>
                                <select id="inputToe" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">앞코 모양</label>
                                <select id="inputToe" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">앞코 모양</label>
                                <select id="inputToe" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">앞코 모양</label>
                                <select id="inputToe" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end" style="margin-right: 1.5rem;">
                            <button type="button" class="btn btn-outline-danger"
                                    style="width: 7rem; margin-right: .7rem;" data-toggle="modal"
                                    data-target="#DeleteData">데이터 삭제
                            </button>
                            <button type="button" class="btn btn-primary" style="width: 7rem;">라벨링 저장</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="col-12" style="margin-top: 1.5rem;">
                            <h4><b>데이터 불러온 날짜</b></h4>
                            <p>2022년 OO월 OO일</p>
                        </div>
                        <hr>
                    </div>
                    {#                    데이터 삭제 버튼 클릭 시 모달 생성#}
                    <div class="modal" id="DeleteData">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">데이터 삭제</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>데이터 삭제 시 복구할 수 없습니다.<br>
                                        정말로 데이터 삭제를 삭제할까요?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger">삭제</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}