{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-bottom: 1rem;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link" href="{% url 'labeling:label_list' %}">Labeling</a></li>
                <li class="breadcrumb-item active"><a aria-current="page">Data</a></li>
            </ol>
        </nav>
        {#        상위 10개 미리보기#}
        <div class="justify-content-center" style="display: inline">
            <a href="{% url 'labeling:label_detail' the_prev %}"><i class="bi bi-chevron-left"></i></a>
            {% for pre_image in pre_images %}
                {% if pre_image == object %}
                    <a class="col-1 btn p-0 pre-item selected-item"
                       href="{% url 'labeling:label_detail' pre_image.id %}">
                        <img src="{{ pre_image.image.image.image.url }}" class="card-img-top pre-img-size" alt="...">
                    </a>
                {% else %}
                    <a class="col-1 btn p-0 pre-item"
                       href="{% url 'labeling:label_detail' pre_image.id %}">
                        <img src="{{ pre_image.image.image.image.url }}" class="card-img-top pre-img-size" alt="...">
                    </a>
                {% endif %}
            {% endfor %}
            <a href="{% url 'labeling:label_detail' the_next %}"
               style="float: right; margin: 1.5rem 2.5rem 0 0;"><i class="bi bi-chevron-right"></i></a>
        </div>
        <div class="row" style="margin-top: 3rem;">
            <div class="col-6 card" style="height: fit-content;">
                <img src="{{ object.image.image.image.url }}" class="card-img-top" alt="">
            </div>
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-label-tab" data-toggle="tab" href="#nav-label" role="tab"
                           aria-controls="nav-label" aria-selected="true">라벨링</a>
                        <a class="nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
                           aria-controls="nav-info" aria-selected="false">상세 정보</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-label" role="tabpanel"
                         aria-labelledby="nav-label-tab">
                        <div class="form-group col-md-12">
                            <label for="inputCategory"
                                   style="font-weight: bold; font-size: 17px; margin-top: 1rem;">카테고리</label>
                            <select id="inputCategory" class="form-control">
                                <option>모름</option>
                                <option>운동화</option>
                            </select>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="inputItem"
                                       style="font-size: 16px;">아이템</label>
                                <select id="inputItem" class="form-control">
                                    <option>모름</option>
                                    <option>패션 스니커즈</option>
                                    <option>슬립온</option>
                                    <option>기타 스니커즈</option>
                                    <option>캔버스/단화</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputToe"
                                       style="font-size: 16px;">굽 높이</label>
                                <select id="inputToe" class="form-control">
                                    <option>모름</option>
                                    <option>2cm(반스, 컨버스 류)</option>
                                    <option>2~3cm(뉴발, 나이키 류)</option>
                                    <option>3~4cm(어글리 류)</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12 mb-2" style="margin-left: -5px">
                            <strong style="font-size: 17px; margin-top: 1rem;">복수 선택 가능</strong>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="Hi"
                                       style="font-size: 16px;">밑창 모양</label><br>
                                <div>
                                    <select class="choices-multiple-remove-button" id="Hi"
                                            placeholder="Select upto 5 tags" multiple>
                                        <option value="샤크">샤크</option>
                                        <option value="Jquery">스포츠</option>
                                        <option value="CSS">어글리</option>
                                        <option value="Bootstrap 3">워커</option>
                                        <option value="Bootstrap 4">플랫</option>
                                        <option value="Java">트레드</option>
                                        <option value="Javascript">컵솔</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Hi"
                                       style="font-size: 16px;">소재감</label><br>
                                <div><select class="choices-multiple-remove-button" id="Hi"
                                             placeholder="Select upto 5 tags" multiple>
                                    <option value="HTML">가죽</option>
                                    <option value="Jquery">캔버스</option>
                                    <option value="CSS">매쉬/니트</option>
                                    <option value="Bootstrap 3">스웨이드</option>
                                    <option value="Bootstrap 4">퍼</option>
                                    <option value="Java">나일론</option>
                                    <option value="Javascript">에나멜</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="Hi"
                                       style="font-size: 16px;">프린트</label><br>
                                <div><select class="choices-multiple-remove-button" id="Hi"
                                             placeholder="Select upto 5 tags" multiple>
                                    <option value="HTML">자사 로고</option>
                                    <option value="Jquery">그래픽</option>
                                    <option value="CSS">무지</option>
                                    <option value="Bootstrap 3">패턴</option>
                                </select></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Hi"
                                       style="font-size: 16px;">디테일</label><br>
                                <div><select class="choices-multiple-remove-button" id="Hi"
                                             placeholder="Select upto 5 tags" multiple>
                                    <option value="HTML">액세서리 장식</option>
                                    <option value="Jquery">글리터/스팽글</option>
                                    <option value="CSS">꼬임</option>
                                    <option value="Bootstrap 3">리본</option>
                                    <option value="Bootstrap 4">스트랩</option>
                                    <option value="Java">앵클스트랩</option>
                                    <option value="Javascript">자수</option>
                                    <option value="Angular">태슬</option>
                                    <option value="Python">라벨</option>
                                    <option value="Hybris">톤온톤</option>
                                    <option value="SQL">톤인톤</option>
                                    <option value="NOSQL">힐 장식</option>
                                    <option value="NodeJS">아일렛</option>
                                    <option value="NodeJS">타공</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="form-row col-12">
                            <div class="form-group col-md-6">
                                <label for="Hi"
                                       style="font-size: 16px;">색상</label><br>
                                <div><select class="choices-multiple-remove-button" id="Hi"
                                             placeholder="Select upto 5 tags" multiple>
                                    <option value="HTML">골드</option>
                                    <option value="HTML">그레이</option>
                                    <option value="HTML">그린</option>
                                    <option value="HTML">네이비</option>
                                    <option value="HTML">라벤더</option>
                                    <option value="HTML">레드</option>
                                    <option value="HTML">로즈골드</option>
                                    <option value="HTML">민트</option>
                                    <option value="HTML">베이지</option>
                                    <option value="HTML">브라운</option>
                                    <option value="HTML">블랙</option>
                                    <option value="HTML">블루</option>
                                    <option value="HTML">스카이블루</option>
                                    <option value="HTML">실버</option>
                                    <option value="HTML">옐로우</option>
                                    <option value="HTML">오렌지</option>
                                    <option value="HTML">와인</option>
                                    <option value="HTML">카키</option>
                                    <option value="HTML">퍼플</option>
                                    <option value="HTML">핑크</option>
                                    <option value="HTML">화이트</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="row justify-content-end" style="margin-right: 1.5rem;">
                            <button type="button" class="btn btn-outline-danger"
                                    style="width: 7rem; margin-right: .7rem;" data-toggle="modal"
                                    data-target="#DeleteData">데이터 삭제
                            </button>
                            <button type="button" class="btn btn-primary" style="width: 7rem;">라벨링 저장</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="col-12" style="margin-top: 1.5rem;">
                            <h4><b>데이터 분류 완료일</b></h4>
                            <p>{{ object.date_inspected|date:'Y년 m월 d일 H:i' }}</p>
                        </div>
                        <hr>
                    </div>
                    {#                    데이터 삭제 버튼 클릭 시 모달 생성#}
                    <div class="modal" id="DeleteData">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">데이터 삭제</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>데이터 삭제 시 복구할 수 없습니다.<br>
                                        정말로 데이터 삭제를 삭제할까요?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger">삭제</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let multipleCancelButton = new Choices('.choices-multiple-remove-button', {
                removeItemButton: true,
                maxItemCount: 5,
                {#searchResultLimit: 5,#}
                {#renderChoiceLimit: 5#}
            });
        });
    </script>
{% endblock %}