{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 style="font-weight: bold; text-align: center; margin-top: 50px">Kristin Tag 로그인</h2>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem; margin-top: 2rem;">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <a class="btn btn-naver" href="#" role="button">N<span style="margin: 0 1rem 0 3.5rem;">네이버 로그인</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}