{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2 style="font-weight: bold; text-align: center; margin-top: 50px">KRISTAG 로그인/회원가입</h2>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem; margin-top: 2rem;">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <form action="{% provider_login_url 'naver' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-naver" type="submit"><img
                                    src="{% static 'images/btn_naver_logo.png' %}" alt=""
                                    style="padding: 0; height: 2.3rem; width: 2.3rem"><span
                                    style="margin: 0 2rem;">네이버 로그인</span></button>
                        </form>
                        <form action="{% provider_login_url 'google' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-google" type="submit" style="margin-top: .5rem;"><img
                                    src="{% static 'images/btn_google_logo.svg' %}" alt=""
                                    style="padding: 0"><span
                                    style="margin: 0 2.5rem">구글 로그인</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}