{% load static %}

<div class="container mt-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-weight: bold"><img src="{% static 'images/BrandLogo.svg' %}"
                                                                        width="25" height="25"
                                                                        class="d-inline-block align-top"
                                                                        alt="">RISTAG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" id="navbar-items" href="{% url 'labeling:label_list' %}">라벨링</a>
                <a class="nav-link" id="navbar-items" href="{% url 'labeling:inspect_list' %}">검수</a>
                <a class="nav-link" id="navbar-items" href="{% url 'labeling:status_board' %}">작업현황</a>
                <a class="nav-link" id="navbar-items" href="{% url 'labeling:data_upload' %}">데이터업로드</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-expanded="false">
                                {{ social_account.extra_data.name }}님
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'labeling:my_info' %}">내 정보 관리</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <a class="nav-link" href="{% url 'labeling:login' %}">로그인/회원가입</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>