{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" style="margin-bottom: 1rem;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="link" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link" href="{% url 'classification:classification_list' %}">Classification</a>
                </li>
                <li class="breadcrumb-item active"><a aria-current="page">Status Dashboard</a></li>
                {% if user.is_staff == True %}
                <li>
                    <a class="btn btn-outline-success" type="submit" id="popoverData"
                       href="{% url 'classification:export_excel' %}"
                       style="margin-left: 1rem; padding: 0 .5rem" data-container="body" data-toggle="popover"
                       data-placement="bottom" data-trigger="hover" data-content="분류 데이터 다운로드">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                    </a>
                </li>
                {% endif %}
            </ol>
        </nav>
        <h3 style="font-weight: bold; margin: 2rem 0 1.5rem 0;">내 작업 현황</h3>
        <div class="table-responsive">
            <table class="table" style="margin-bottom: 1.6rem">
                <thead>
                <tr>
                    <th scope="col" style="font-size: 1.75rem; font-weight: bold;"><span
                            style="font-size: 1rem;">내 작업 이미지 개수</span><br>{{ user_images.count }}
                        <div style="height: 1.5rem; width: 15rem;"></div>
                    </th>
                    <th scope="col" style="font-size: 1.75rem; font-weight: bold;"><span
                            style="font-size: 1rem;">내가 라벨링한 이미지</span><br>{{ user_classified_percent }}%<span
                            style="font-size: .75rem; font-weight: normal">  ({{ user_classified_images.count }}개)</span>
                        <div class="progress" style="width: 18rem; margin-bottom: .5rem;">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ user_classified_percent }}%;"></div>
                        </div>
                    </th>
                    <th scope="col" style="font-size: 28px; font-weight: bold;"><span
                            style="font-size: 16px">검수 통과된 이미지</span><br>{{ user_inspected_percent }}%<span
                            style="font-size: 12px; font-weight: normal">  ({{ user_inspected_images.count }}개)</span>
                        <div class="progress" style="width: 18rem; margin-bottom: .5rem">
                            <div class="progress-bar progress-bar-custom" role="progressbar"
                                 style="width: {{ user_inspected_percent }}%;"></div>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        {% if user.is_staff == True %}
            <h3 style="font-weight: bold; margin: 2rem 0 1.5rem 0;">프로젝트 진행 현황</h3>
            <div class="table-responsive">
                <table class="table" style="margin-bottom: 1.6rem">
                    <thead>
                    <tr>
                        <th scope="col" style="font-size: 1.75rem; font-weight: bold;"><span
                                style="font-size: 1rem">총 이미지 개수</span><br>{{ object_list.count }}
                            <div style="height: 1.5rem; width: 15rem;"></div>
                        </th>
                        <th scope="col" style="font-size: 1.75rem; font-weight: bold;"><span
                                style="font-size: 1rem;">라벨링된 이미지</span><br>{{ classified_percent }}%<span
                                style="font-size: .75rem; font-weight: normal">  ({{ classified_images.count }}개)</span>
                            <div class="progress" style="width: 18rem; margin-bottom: .5rem;">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ classified_percent }}%;"></div>
                            </div>
                        </th>
                        <th scope="col" style="font-size: 1.75rem; font-weight: bold;"><span
                                style="font-size: 1rem">검수된 이미지</span><br>{{ inspected_percent }}%<span
                                style="font-size: .75rem; font-weight: normal">  ({{ inspected_images.count }}개)</span>
                            <div class="progress" style="width: 18rem; margin-bottom: .5rem">
                                <div class="progress-bar progress-bar-custom" role="progressbar"
                                     style="width: {{ inspected_percent }}%;"></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <h4 style="font-weight: bold; margin: 2rem 0 1.5rem 0">이미지 분류 통계</h4>
            <div class="col" style="margin-bottom: 2rem;">
                <canvas id="myChart" height="100"></canvas>
            </div>
        {% endif %}
        {#        <h4 style="font-weight: bold">데이터 내려받기</h4>#}
        {#        <div class="card">#}
        {#            <div class="card-body">#}
        {#                <h5 style="font-weight: bold">카테고리 선택</h5>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">#}
        {#                    <label class="form-check-label" for="defaultCheck1">#}
        {#                        전체선택#}
        {#                    </label>#}
        {#                </div>#}
        {#                <p>#}
        {#                <h5 style="font-weight: bold">내려받을 파일 형식</h5>#}
        {#                <div class="form-check">#}
        {#                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"#}
        {#                           value="option2">#}
        {#                    <label class="form-check-label" for="exampleRadios2">#}
        {#                        CSV파일(.csv 형식)#}
        {#                    </label>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="row justify-content-center">#}
        {#            <a type="button" class="btn btn-outline-primary btn-m" style="margin-top: .6rem;" href="#"#}
        {#               data-toggle="modal" data-target="#Unsatisfied">내려받기</a>#}
        {#        </div>#}
        {#        <div class="modal" id="Unsatisfied">#}
        {#            <div class="modal-dialog">#}
        {#                <div class="modal-content">#}
        {#                    <div class="modal-header">#}
        {#                        <h5 class="modal-title">카테고리 및 관련 속성 선택</h5>#}
        {#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
        {#                            <span aria-hidden="true">&times;</span>#}
        {#                        </button>#}
        {#                    </div>#}
        {#                    <div class="modal-body">#}
        {#                        <p>카테고리 혹은 관련 속성이 선택되지 않았습니다.<br>#}
        {#                            카테고리와 관련 속성을 모두 최소 1개 이상 선택해주세요.</p>#}
        {#                    </div>#}
        {#                    <div class="modal-footer">#}
        {#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>

    <script>
        {#엑셀파일 다운로드 토글#}

        function toggle(source) {
            let checkboxes = document.getElementsByName('cb');
            let i = 0, n = checkboxes.length;
            for (; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        $('#popoverData').popover()

        {#차트#}
        const labels = [
            '제품 상세컷',
            '모델 코디컷',
            '해당사항 없음'
        ];

        const data = {
            labels: labels,
            datasets: [{
                label: '이미지',
                backgroundColor: 'rgba(201, 203, 207, 0.8)',
                hoverBackgroundColor: '#8BC34A',
                data: [{{ inspected_detail_cut.count }}, {{ inspected_model_cut.count }}, {{ inspected_trash_cut.count }}],
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scale: {
                    y: {
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock %}