{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="margin: 0;">
                <li class="breadcrumb-item"><a class="link" href="/static">Home</a></li>
                <li class="breadcrumb-item"><a class="link" href="{% url 'classification:classification_list' %}">Classification</a>
                </li>
                <li class="breadcrumb-item active"><a aria-current="page">Inspection</a></li>
            </ol>
        </nav>
        <strong class="row justify-content-end" style="font-size: 70%; margin-right: .6rem;">분류 검수 대기
            데이터: {{ waiting_images.count }}</strong>
        <div class="row justify-content-end">
            <form action="{% url 'classification:classification_inspect_load_data' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="badge badge-secondary" style="margin: 0 1.5rem 1rem 0; border: #eeeeee">데이터
                    25개 추가하기
                </button>
            </form>
        </div>
        <form action="{% url 'classification:just_test' %}" method="post">
            {% csrf_token %}
            <div class="col" style="justify-content: space-between;">
                <label class="btn btn-secondary" style="margin-top: -2rem"><input type="checkbox" onClick="toggle(this)"
                                                                                  hidden> 전체 선택</label><br>
                {% for object in object_list %}
                    <div class="li">
                        <input type="checkbox" id="cb{{ object.id }}" value="{{ object.id }}" name="cb"/>
                        <label class="label" for="cb{{ object.id }}"><img src="{{ object.image.image.url }}"
                                                                          class="card-img img-size"
                                                                          alt="...">
                            <strong class="row justify-content-center">{{ object.detail_or_not|yesno:'상세컷,모델컷' }}</strong>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-end" style="margin-top: 1rem;">
                <button class="btn btn-danger mr-2" type="submit" name="non-pass">검수 거부</button>
                <button class="btn btn-primary mr-5" type="submit" name="pass">검수 통과</button>
            </div>
        </form>
        <nav aria-label="Page navigation" style="margin-top: 1.3rem;">
            <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}

                {% for page in page_range %}
                    {% if page == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ page }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script>
        function toggle(source) {
            let checkboxes = document.getElementsByName('cb');
            let i = 0, n = checkboxes.length;
            for (; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
{% endblock %}